# Prefix is Ctrl-a
unbind C-b
set-option -g prefix C-a
bind-key C-a send-prefix

set -sg escape-time 1
set -g base-index 1
setw -g pane-base-index 1

# prevent sync of size in different windows
setw -g aggressive-resize on

setw -g monitor-activity on
set -g visual-activity on
#rename windows automatically on command
#setw -g automatic-rename
 
set -g mode-keys vi
set -g history-limit 10000

#resize panes with the mouse
set-option -g mouse on

set-option -g update-environment "SSH_AUTH_SOCK \
                                  SSH_CONNECTION \
                                  PASSWORD \
                                  DISPLAY"
 
# y and p as in vim
bind Escape copy-mode
unbind p
bind p paste-buffer
 
# easy-to-remember split pane commands
bind . split-window -h
bind - split-window -v
unbind '"'
unbind %


# move between windows
unbind M-p
unbind M-n
bind p previous-window
bind n next-window
 
# moving between panes with vim movement keys
bind h select-pane -L
bind j select-pane -D
bind k select-pane -U
bind l select-pane -R

# moving between windows with vim movement keys
#bind -r M-h select-window -t :-
#bind -r M-l select-window -t :+
bind C-h select-window -t :-
bind C-l select-window -t :+

#Code from Martin: copy to win clipboard
bind C-y run-shell -b "tmux show-buffer | xclip -selection clipboard -i"

# Command that checks if pane has vim
is_vim="ps -o state= -o comm= -t '#{pane_tty}' \
    | grep -iqE '^[^TXZ ]+ +(\\S+\\/)?g?(view|n?vim?x?)(diff)?$'"

bind-key -n C-h if-shell "$is_vim" "send-keys C-h"  "select-pane -L"
bind-key -n C-j if-shell "$is_vim" "send-keys C-j"  "select-pane -D"
bind-key -n C-k if-shell "$is_vim" "send-keys C-k"  "select-pane -U"
bind-key -n C-l if-shell "$is_vim" "send-keys C-l"  "select-pane -R"
bind-key -T copy-mode-vi C-h select-pane -L
bind-key -T copy-mode-vi C-j select-pane -D
bind-key -T copy-mode-vi C-k select-pane -U
bind-key -T copy-mode-vi C-l select-pane -R
bind-key -T copy-mode-vi C-\ select-pane -l

# colors
set -g default-terminal "screen-256color"

# In case that multiple z-shells are installed, make sure that tmux
# starts the right one
set-option -g default-shell {{ cmd_utils_zsh_binary }}
